{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('css/deep-navigation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">

{% endblock %}

{% block content %}

    {% include 'public/product/sections/product.html.twig' %}
    {% include 'public/modals/add-to-cart.html.twig' %}
    <div class="modal-background"></div>

{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset("js/product-modal.js") }}"></script>

{% endblock %}