<div class="cart">

    <div id="products-container">

        {% for product in products %}

            <div class="cart-item">

                <div class="delete">

                    <i onclick="deleteProduct({{ product.id }})" class="material-icons">clear</i>

                </div>

                <div class="photo">

                    <img src="{{ product.photo }}">

                </div>

                <div class="description">

                    <div class="title">

                        <h3>{{ product.title }}</h3>
                        <label class="price"><span>{{ (product.price / 100) | round(0, 'floor')}}.{{ "%02d" | format((product.price % 100))}}</span> <sup>€/{{ product.units }}.</sup></label>

                    </div>

                    <p>{{ product.description }}</p>

                    <div class="footer">

                        <div class="quantity-container">

                            <label>Kiekis : </label>
                            <input type="number" value="{{ product.quantity }}" class="quantity">

                        </div>

                        <div class="sum-container">

                            <label>Suma : </label>
                            <strong><span class="sum"></span> €</strong>

                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}

        {% if products | length == 0 %}

            <div class="no-data">

                <p>Krepšelis tuščias</p>
                <a class="button" href="/categories">Asortimentas</a>

            </div>

        {% else %}

            <div class="total">

                <p><span id="sum"></span> €</p>
                <label>Suma : </label>

            </div>

            <div class="button-row">

                <a href="">Mokėti</a>

            </div>

        {% endif %}


    </div>

</div>