<nav id="deep-navigation">

    {% if parent.parent.parent is defined and parent.parent %}

        <div class="deep-menu-item">

            <a href="/categories/{{ parent.parent.parent.id }}">{{ parent.parent.parent.title }}</a>

        </div>

    {% else %}

        <div class="deep-menu-item">

            <a href="/categories">Produktų kategorijos</a>

        </div>

    {% endif %}

    {% if parent.parent is defined and parent.parent %}

        <div class="deep-menu-item">

            <a href="/categories/{{ parent.parent.id }}">{{ parent.parent.title }}</a>

        </div>

    {% endif %}

    {% if parent is defined %}

        <div class="deep-menu-item">

            <a href="/categories/{{ parent.id }}/1">{{ parent.title }}</a>

        </div>

    {% endif %}

</nav>