<div class="courses">

    {% for course in courses %}

        <div class="course">

            <div class="photo animated-element">

                <a href="/course/{{ course.id }}">

                    <img alt="{{ course.title }}" src="{{  asset('photos/'~course.photo) }}">

                </a>

            </div>

            <div class="description animated-element">

                <a href="/course/{{ course.id }}"><h3>{{ course.title }}</h3></a>
                <span>{{ course.date | date('Y-m-d H:i') }}</span>
                <div><p>{{ course.description }}</p></div>
                <label>{{ course.price }} <sup>€/vnt.</sup></label>

            </div>

        </div>

    {% endfor %}

</div>