<section id="categories">

    <div>

        <h2 class="animated-element">Malonumas ir Skonis Vienoje Vietoje</h2>

    </div>

    <div>

        <div class="category">

            <div class="animated-element">

                <a href="/">

                    <img alt="products" src="{{ asset("img/produktas.jpg") }}">

                </a>

            </div>

            <div class="animated-element">

                <a href="/"><h3>Produktai</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada
                    ex non magna convallis aliquam. Nulla ullamcorper elit a ante ullamcorper,
                    nec malesuada
                    massa commodo.</p>

                <a class="button" href="/">Pla훾iau...</a>

            </div>

        </div>

        <div class="category">

            <div class="animated-element">

                <a href="/">

                    <img alt="products" src="{{ asset("img/mokymai.jpg") }}">

                </a>

            </div>

            <div class="animated-element">

                <a href="/"><h3>Mokymai</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada
                    ex non magna convallis aliquam. Nulla ullamcorper elit a ante ullamcorper,
                    nec malesuada
                    massa commodo.</p>

                <a class="button" href="/">Pla훾iau...</a>

            </div>

        </div>

        <div class="category">

            <div class="animated-element">

                <a href="/">

                    <img alt="products" src="{{ asset("img/blogas.jpg") }}">

                </a>

            </div>

            <div class="animated-element">

                <a href="/"><h3>Blog'as</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada
                    ex non magna convallis aliquam. Nulla ullamcorper elit a ante ullamcorper,
                    nec malesuada
                    massa commodo.</p>

                <a class="button" href="/">Pla훾iau...</a>

            </div>

        </div>

        <div class="category">

            <div class="animated-element">

                <a href="/">

                    <img alt="products" src="{{ asset("img/galerija.jpg") }}">

                </a>

            </div>

            <div class="animated-element">

                <a href="/"><h3>Galerija</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada
                    ex non magna convallis aliquam. Nulla ullamcorper elit a ante ullamcorper,
                    nec malesuada
                    massa commodo.</p>

                <a class="button" href="/">Pla훾iau...</a>

            </div>

        </div>

    </div>

    <div class="cake-logo">

        <img src="{{ asset("img/cake.svg") }}">

    </div>

</section>