<section id="categories" class="dark-section section">

    <div>

        <h2 class="animated-element">Produktų kategorijos</h2>

    </div>

    <div>

        {% for category in categories %}

            <div class="item animated-element">

                <div class="photo">

                    <a href="/categories/{{ category.id }}">

                        <img alt="{{ category.title }}" src="{{ asset(category.photo) }}">

                    </a>

                </div>

                <div class="description">

                    <a href="/categories/{{ category.id }}"><h3>{{ category.title }}</h3></a>

                    <p>{{ category.description }}</p>

                </div>

            </div>

        {% endfor %}

    </div>

    <div class="cake-logo">

        <img src="{{ asset("img/cake.svg") }}">

    </div>

</section>