<section class="light-section section" id="navigation">

    <div>

        <h2 class="animated-element">Malonumas ir Skonis Vienoje Vietoje</h2>

    </div>

    <div>

        <div class="item animated-element">

            <div class="photo">

                <a href="/categories/0">

                    <img alt="products" src="{{ asset("img/produktas.jpg") }}">

                </a>

            </div>

            <div class="description">

                <a href="/categories/0"><h3>Produktai</h3></a>

                <p>Visi siūlomi mūsų tortai, desertai, pyragaičiai ir kepiniai</p>

            </div>

        </div>

        <div class="item animated-element">

            <div class="photo">

                <a href="/courses/1">

                    <img alt="products" src="{{ asset("img/mokymai.jpg") }}">

                </a>

            </div>

            <div class="description">

                <a href="/courses/1"><h3>Mokymai</h3></a>

                <p>Desertų akademijos Red Velvet rengiami mokymai</p>

            </div>

        </div>

        <div class="item animated-element">

            <div class="photo">

                <a href="/blogs/1">

                    <img alt="products" src="{{ asset("img/blogas.jpg") }}">

                </a>

            </div>

            <div class="description">

                <a href="/blogs/1"><h3>Blog'as</h3></a>

                <p>Atsiprašome, ši skiltis dar ruošiama</p>

            </div>

        </div>

        <div class="item animated-element">

            <div class="photo">

                <a href="/galleries/1">

                    <img alt="products" src="{{ asset("img/galerija.jpg") }}">

                </a>

            </div>

            <div class="description">

                <a href="/galleries/1"><h3>Galerija</h3></a>

                <p>Čia galite rasti mūsų sukurtų desertų nuotraukas</p>

            </div>

        </div>

    </div>

    <div class="cake-logo">

        <img src="{{ asset("img/cake.svg") }}">

    </div>

</section>