<section id="news">

    <h2 class="animated-element">Artimiausi mokymai</h2>

    {% for course in courses %}

        <div class="new">

            <div class="animated-element">

                <a href="/course/{{ course.id }}">

                    <img src="{{ asset('photos/'~course.photo) }}">

                </a>

            </div>

            <div class="animated-element">

                <h3>{{ course.title }}</h3>

                <p>{{ course.description }}</p>

                <a class="button" href="/course/{{ course.id }}">Daugiau</a>

            </div>

        </div>

    {% endfor %}

    {#<div class="new">#}

        {#<div class="animated-element">#}

            {#<a href="/product">#}

                {#<img src="{{ asset("img/akcija3.png") }}">#}

            {#</a>#}

        {#</div>#}

        {#<div class="animated-element">#}

            {#<h3>Akcija</h3>#}

            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada#}
                {#ex non magna convallis aliquam. Nulla ullamcorper elit a ante ullamcorper,#}
                {#nec malesuada#}
                {#massa commodo.</p>#}

            {#<a class="button" href="/">Plačiau...</a>#}

        {#</div>#}

    {#</div>#}

</section>