<section id="slideshow">

    <div class="swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/mokymai4.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/slideshow8.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/mokymai3.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/slideshow7.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/mokymai2.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/slideshow9.jpg") }}">

            </div>

            <div class="swiper-slide">

                <img alt="red velvet" src="{{ asset("img/slideshow12.jpg") }}">

            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>
