<main>

    <section id="product">

        {% include 'public/deep-navigation.html.twig' %}

        <h2>{{ product.title }}</h2>

        <div id="photos">

            <div class="main-photo">

                <img src="{{ asset('photos/'~product.photo) }}">

            </div>

        </div>

        <div id="description">

            <p>{{ product.description }}</p>

            <div class="price">

                <label><span>{{ product.price }}</span> <sup> €/{{ product.units }}.</sup></label>

            </div>

        </div>

    </section>

</main>