{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/item.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('css/deep-navigation.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="products">

            {% include 'public/products/sections/deep-navigation.html.twig' %}

            <h2>{{ category.title }}</h2>

            {% include 'public/products/sections/products.html.twig' %}
            {% include 'public/products/sections/pagination.html.twig' %}

        </section>

    </main>

{% endblock %}