<tbody>

{% for gallery in galleries %}

    <tr>

        <td>{{ gallery.id }}</td>
        <td>{{ gallery.title }}</td>
        <td>{{ gallery.photos | length }}</td>
        <td>{{ gallery.date | date() }}</td>
        <td>
            <a href="/admin/gallery/view/{{ gallery.id }}"><i class="material-icons">remove_red_eye</i></a>
            <a href="/admin/gallery/edit/{{ gallery.id }}"><i class="material-icons">create</i></a>
            <i data-toggle="modal" data-record-id="{{ gallery.id }}" data-entity-type="gallery" data-target="#delete-confirmation-modal" class="material-icons">delete</i>
        </td>

    </tr>

{% endfor %}

{% if galleries is empty %}

    <tr>

        <td colspan="5">Nėra įrašų</td>

    </tr>

{% endif %}

</tbody>