{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/public/gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/pagination.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="gallery">

            <h2>Galerija</h2>

            {% include 'public/gallery/sections/photos.html.twig' %}

        </section>

    </main>]'-

    {% include 'public/modals/photo-modal.html.twig' %}
    <div class="modal-background"></div>

{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset("js/gallery-slideshow.js") }}"></script>

{% endblock %}