<header>

    <div>

        <a id="logo" href="/">

            <img alt="logo" src="{{ asset('img/logo.jpg') }}">

        </a>

    </div>

    <nav class="desktop-nav">

        <div class="inner-content">

            <div class="menu-item"><a href="/"><i class="material-icons">home</i> Pagrindinis puslapis</a></div>
            <div class="menu-item"><a href="/courses/1"><i class="material-icons">school</i> Mokymai</a></div>

            <div class="menu-item dropdown-item">

                <a href="/categories/0"><i class="material-icons">cake</i> Produktai <i class="material-icons">keyboard_arrow_down</i></a>

                <div class="dropdown-content">

                    {% for category in navCategories %}

                        {% if category.children | length > 0 %}

                            <div class="dropdown-menu-item">

                                <a href="/categories/{{ category.id }}">{{ category.title }}</a>

                            </div>

                        {% else %}

                            <div class="dropdown-menu-item">

                                <a href="/products/{{ category.id }}/1">{{ category.title }}</a>

                            </div>

                        {% endif %}

                    {% endfor %}

                </div>

            </div>

            <div class="menu-item"><a href="/gallery"><i class="material-icons">photo_library</i> Galerija</a></div>
            <div class="menu-item"><a href="#footer"><i class="material-icons">mail</i> Kontaktai</a></div>
            <div class="menu-item"> <a href="https://www.instagram.com/miglepaulikiene/"><img src="{{ asset('img/instagram.svg') }}"></a>
                <a href="https://www.facebook.com/desertumanija"><img src="{{ asset('img/facebook.svg') }}"></a></div>

        </div>

    </nav>

    <div class="mobile-menu-icon">

        <i class="material-icons">menu</i>

    </div>

    <nav class="mobile-nav">

        <div class="mobile-menu-content">

            <div class="mobile-menu-item"><a href="/"><i class="material-icons">home</i> Pagrindinis puslapis</a></div>
            <div class="mobile-menu-item"><a href="/courses/1"><i class="material-icons">school</i> Mokymai</a></div>
            <div class="mobile-menu-item"><a href="/categories/0"><i class="material-icons">cake</i> Produktai</a></div>
            <div class="mobile-menu-item"><a href="/gallery"><i class="material-icons">photo_library</i> Galerija</a></div>
            <div class="mobile-menu-item"><a href="#footer"><i class="material-icons">mail</i> Kontaktai</a></div>
            <div class="mobile-menu-item"> <a href="https://www.instagram.com/miglepaulikiene/"><img src="{{ asset('img/instagram.svg') }}"></a>
                <a href="https://www.facebook.com/desertumanija"><img src="{{ asset('img/facebook.svg') }}"></a></div>

        </div>

    </nav>

</header>

