<div class="products">

    {% for product in products %}

        <div class="item">

            <div class="photo animated-element">

                <a href="/product/{{ product.id }}">

                    <img alt="{{ product.title }}" src="{{  asset('photos/'~product.photo) }}">

                </a>

            </div>

            <div class="description animated-element">

                <a href="/product/{{ product.id }}"><h3>{{ product.title }}</h3></a>
                <p>{{ product.description }}</p>
                <div class="price">

                    <label>{{ product.price }} <sup>€/{{ product.units }}.</sup></label>

                </div>


            </div>

        </div>

    {% endfor %}

    {% if products | length == 0 %}

        <div class="no-data">

            <p>Atsiprašome, prekių šiuo metu šioje kategorijoje nėra</p>

            {% if category.parent %}

                <a class="button" href="/categories/{{ category.parent.id }}">Grįžti</a>

            {% else %}

                <a class="button" href="/categories/0">Grįžti</a>

            {% endif %}



        </div>

    {% endif %}

</div>