<div class="products">

    {% for product in products %}

        <div class="item">

            <div class="photo animated-element">

                <a href="/product/{{ product.id }}">

                    <img alt="{{ product.title }}" src="{{  asset(product.photo) }}">

                </a>

            </div>

            <div class="description animated-element">

                <a href="/product/{{ product.id }}"><h3>{{ product.title }}</h3></a>
                <p>{{ product.description }}</p>
                <div class="price">

                    <label>{{ product.price }} <sup>€/kg.</sup></label>
                    <button class="button" onclick="addProduct({{ product.id }})">Pridėti į krepšelį</button>

                </div>


            </div>

        </div>

    {% endfor %}

</div>